<div class="row">
    <div class="col-3">
        <div class="card shadow border-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Patient</span>
                        <span class="h3 font-bold mb-0">{{ patientsCount }}</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape btn-warning text-white text-lg rounded-circle">
                            <i class="bi bi-people"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card shadow border-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Doctor</span>
                        <span class="h3 font-bold mb-0">{{ doctorsCount }}</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
                            <i class="bi bi-people"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card shadow border-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Nurse</span>
                        <span class="h3 font-bold mb-0">{{ nursesCount }}</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape btn-danger text-white text-lg rounded-circle">
                            <i class="bi bi-people"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card shadow border-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Receptionist</span>
                        <span class="h3 font-bold mb-0">{{ receptionistsCount }}</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape btn-warning text-white text-lg rounded-circle">
                            <i class="bi bi-people"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card shadow border-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Pathologist</span>
                        <span class="h3 font-bold mb-0">{{ pathologistsCount }}</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-info text-white text-lg rounded-circle">
                            <i class="bi bi-people"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card shadow border-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Department</span>
                        <span class="h3 font-bold mb-0">{{ departmentsCount }}</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape btn-danger text-white text-lg rounded-circle">
                            <i class="bi bi-house"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>